<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummer.common.core.mapper.ext.ExtImageRepoItemMapper">

    <resultMap id="ImageRepoResultMap" type="com.hummer.common.core.dto.ImageRepoItemDTO"
               extends="com.hummer.common.core.mapper.ImageRepoItemMapper.BaseResultMap">
        <collection property="imageRepoItemK8sDTOList" ofType="com.hummer.common.core.dto.ImageRepoItemK8sDTO" javaType="list" select="getImageRepoItemK8sDTO" column="path">
        </collection>
    </resultMap>

    <sql id="condition">
        <choose>
            <when test='${object}.operator == "like"'>
                like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "not like"'>
                not like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "in"'>
                in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "not in"'>
                not in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "between"'>
                between #{${object}.value[0]} and #{${object}.value[1]}
            </when>
            <when test='${object}.operator == "gt"'>
                &gt; #{${object}.value}
            </when>
            <when test='${object}.operator == "lt"'>
                &lt; #{${object}.value}
            </when>
            <when test='${object}.operator == "ge"'>
                &gt;= #{${object}.value}
            </when>
            <when test='${object}.operator == "le"'>
                &lt;= #{${object}.value}
            </when>
            <otherwise>
                = #{${object}.value}
            </otherwise>
        </choose>
    </sql>

    <sql id="combine">
        <if test='${condition}.project != null'>
            and t.project
            <include refid="condition">
                <property name="object" value="${condition}.project"/>
            </include>
        </if>
        <if test='${condition}.repository != null'>
            and t.repository
            <include refid="condition">
                <property name="object" value="${condition}.repository"/>
            </include>
        </if>
        <if test='${condition}.tag != null'>
            and t.tag
            <include refid="condition">
                <property name="object" value="${condition}.tag"/>
            </include>
        </if>
        <if test='${condition}.path != null and (${path} == null or ${path} == "")'>
            and t.path
            <include refid="condition">
                <property name="object" value="${condition}.path"/>
            </include>
        </if>
        <if test='${condition}.size != null'>
            and t.size
            <include refid="condition">
                <property name="object" value="${condition}.size"/>
            </include>
        </if>
    </sql>

    <select id="repoItemList" resultMap="ImageRepoResultMap">
        select
        t.*
        from image_repo_item as t
        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                    <property name="project" value="request.project"/>
                </include>
            </if>

            <if test="request.repoId != null and request.repoId != ''">
                and t.repo_id = #{request.repoId}
            </if>
            <if test="request.project != null and request.project != ''">
                and LOWER(t.project) like CONCAT('%', LOWER(#{request.project}),'%')
            </if>
            <if test="request.repository != null and request.repository != ''">
                and LOWER(t.repository) like CONCAT('%', LOWER(#{request.repository}),'%')
            </if>
            <if test="request.path != null and request.path != ''">
                and LOWER(t.path) like CONCAT('%', LOWER(#{request.path}),'%')
            </if>
            <if test="request.size != null and request.size != ''">
                and LOWER(t.size) like CONCAT('%', LOWER(#{request.size}),'%')
            </if>
            <if test="request.arch != null and request.arch != ''">
                and LOWER(t.arch) like CONCAT('%', LOWER(#{request.arch}),'%')
            </if>
        </where>
        order by t.path
    </select>

    <select id="getImageRepoItemK8sDTO" resultType="com.hummer.common.core.dto.ImageRepoItemK8sDTO">
        select
        t.source_name as sourceName,
        t.source_namespace as namespace,
        t.source_type as sourceType,
        t1.name as k8sName
        from cloud_native_source as t
        left join cloud_native t1 on t.cloud_native_id = t1.id
        join cloud_native_source_image t2 on t.id = t2.source_id
        where t2.image = #{path}
        order by t.source_name
    </select>

</mapper>
