<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummer.common.core.mapper.ext.ExtQuartzTaskMapper">
    <resultMap id="BaseResultMap" type="com.hummer.common.core.domain.CloudAccountQuartzTask"
               extends="com.hummer.common.core.mapper.CloudAccountQuartzTaskMapper.BaseResultMap">
    </resultMap>

    <sql id="condition">
        <choose>
            <when test='${object}.operator == "like"'>
                like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "not like"'>
                not like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "in"'>
                in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "not in"'>
                not in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "between"'>
                between #{${object}.value[0]} and #{${object}.value[1]}
            </when>
            <when test='${object}.operator == "gt"'>
                &gt; #{${object}.value}
            </when>
            <when test='${object}.operator == "lt"'>
                &lt; #{${object}.value}
            </when>
            <when test='${object}.operator == "ge"'>
                &gt;= #{${object}.value}
            </when>
            <when test='${object}.operator == "le"'>
                &lt;= #{${object}.value}
            </when>
            <otherwise>
                = #{${object}.value}
            </otherwise>
        </choose>
    </sql>

    <sql id="combine">
        <if test='${condition}.name != null'>
            and t.name
            <include refid="condition">
                <property name="object" value="${condition}.name"/>
            </include>
        </if>
        <if test='${condition}.applyUser != null'>
            and t.apply_user
            <include refid="condition">
                <property name="object" value="${condition}.applyUser"/>
            </include>
        </if>
        <if test="${condition}.status != null">
            and t.status
            <include refid="condition">
                <property name="object" value="${condition}.status"/>
            </include>
        </if>
        <if test="${condition}.qzType != null">
            and t.qz_type
            <include refid="condition">
                <property name="object" value="${condition}.qzType"/>
            </include>
        </if>
        <if test="${condition}.prevFireTime != null">
            and t.prev_fire_time
            <include refid="condition">
                <property name="object" value="${condition}.prevFireTime"/>
            </include>
        </if>
        <if test="${condition}.lastFireTime != null">
            and t.last_fire_time
            <include refid="condition">
                <property name="object" value="${condition}.lastFireTime"/>
            </include>
        </if>
        <if test="${condition}.createTime != null">
            and t.create_time
            <include refid="condition">
                <property name="object" value="${condition}.createTime"/>
            </include>
        </if>
    </sql>

    <select id="selectQuartzTasks" resultMap="BaseResultMap">
        select
        t.*
        from cloud_account_quartz_task as t
        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                </include>
            </if>

            <if test="request.name != null and request.name != ''">
                and t.name like CONCAT('%', #{request.name},'%')
            </if>
            <if test="request.cron != null and request.cron != ''">
                and t.cron like CONCAT('%', #{request.cron},'%')
            </if>
            <if test="request.cronDesc != null and request.cronDesc != ''">
                and t.cron_desc like CONCAT('%', #{request.cronDesc},'%')
            </if>
        </where>
        order by t.create_time desc
    </select>


</mapper>
