<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummer.common.mapper.mapper.ext.ExtK8sResultConfigItemMapper">

    <sql id="condition">
        <choose>
            <when test='${object}.operator == "like"'>
                like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "not like"'>
                not like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "in"'>
                in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "not in"'>
                not in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "between"'>
                between #{${object}.value[0]} and #{${object}.value[1]}
            </when>
            <when test='${object}.operator == "gt"'>
                &gt; #{${object}.value}
            </when>
            <when test='${object}.operator == "lt"'>
                &lt; #{${object}.value}
            </when>
            <when test='${object}.operator == "ge"'>
                &gt;= #{${object}.value}
            </when>
            <when test='${object}.operator == "le"'>
                &lt;= #{${object}.value}
            </when>
            <otherwise>
                = #{${object}.value}
            </otherwise>
        </choose>
    </sql>

    <sql id="combine">
        <if test='${condition}.title != null'>
            and t.title
            <include refid="condition">
                <property name="object" value="${condition}.title"/>
            </include>
        </if>
        <if test='${condition}.checkId != null'>
            and t.check_id
            <include refid="condition">
                <property name="object" value="${condition}.checkId"/>
            </include>
        </if>
        <if test='${condition}.severity != null'>
            and t.severity
            <include refid="condition">
                <property name="object" value="${condition}.severity"/>
            </include>
        </if>
        <if test="${condition}.category != null">
            and t.category
            <include refid="condition">
                <property name="object" value="${condition}.category"/>
            </include>
        </if>
        <if test="${condition}.description != null">
            and t.description
            <include refid="condition">
                <property name="object" value="${condition}.description"/>
            </include>
        </if>
    </sql>

    <select id="resultConfigItemListBySearch" resultType="com.hummer.common.core.domain.CloudNativeResultConfigItemWithBLOBs" parameterType="com.hummer.common.core.domain.request.k8s.K8sConfigResultItemRequest">
        SELECT
        t.*
        FROM cloud_native_result_config_item t

        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                </include>
            </if>

            <if test="request.resultId != null and request.resultId != ''">
                and t.result_id = #{request.resultId}
            </if>
            <if test="request.title != null and request.title != ''">
                and LOWER(t.title) like CONCAT('%', LOWER(#{request.title}),'%')
            </if>
            <if test="request.checkId != null and request.checkId != ''">
                and LOWER(t.check_id) like CONCAT('%', LOWER(#{request.checkId}),'%')
            </if>
            <if test="request.severity != null and request.severity != ''">
                and LOWER(t.severity) like CONCAT('%', LOWER(#{request.severity}),'%')
            </if>
            <if test="request.category != null and request.category != ''">
                and LOWER(t.category) like CONCAT('%', LOWER(#{request.category}),'%')
            </if>
            <if test="request.description != null and request.description != ''">
                and LOWER(t.description) like CONCAT('%', LOWER(#{request.description}),'%')
            </if>
        </where>
        ORDER BY FIELD(`severity`, 'CRITICAL', 'HIGH', 'MEDIUM', 'LOW', 'UNKNOWN')
    </select>

    <sql id="combine2">
        <if test='${condition}.title != null'>
            and t.title
            <include refid="condition">
                <property name="object" value="${condition}.title"/>
            </include>
        </if>
        <if test='${condition}.number != null'>
            and t.number
            <include refid="condition">
                <property name="object" value="${condition}.number"/>
            </include>
        </if>
        <if test='${condition}.severity != null'>
            and t.severity
            <include refid="condition">
                <property name="object" value="${condition}.severity"/>
            </include>
        </if>
        <if test="${condition}.description != null">
            and t.description
            <include refid="condition">
                <property name="object" value="${condition}.description"/>
            </include>
        </if>
    </sql>

    <select id="resultKubenchItemListBySearch" resultType="com.hummer.common.core.domain.CloudNativeResultKubenchWithBLOBs" parameterType="com.hummer.common.core.domain.request.k8s.K8sKubenchResultItemRequest">
        SELECT
        t.*
        FROM cloud_native_result_kubench t

        <where>
            <if test="request.combine != null">
                <include refid="combine2">
                    <property name="condition" value="request.combine"/>
                </include>
            </if>

            <if test="request.resultId != null and request.resultId != ''">
                and t.result_id = #{request.resultId}
            </if>
            <if test="request.title != null and request.title != ''">
                and LOWER(t.title) like CONCAT('%', LOWER(#{request.title}),'%')
            </if>
            <if test="request.number != null and request.number != ''">
                and LOWER(t.number) like CONCAT('%', LOWER(#{request.number}),'%')
            </if>
            <if test="request.severity != null and request.severity != ''">
                and LOWER(t.severity) like CONCAT('%', LOWER(#{request.severity}),'%')
            </if>
            <if test="request.description != null and request.description != ''">
                and LOWER(t.description) like CONCAT('%', LOWER(#{request.description}),'%')
            </if>
        </where>
        ORDER BY FIELD(t.`severity`, 'FAIL', 'WARN', 'INFO', 'PASS'), t.number
    </select>

</mapper>
