<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummer.common.mapper.mapper.ext.ExtRuleTypeMapper">

    <select id="selectByExample" resultType="map">
        SELECT
        DISTINCT(t.resource_type) as name
        FROM rule_type t
        GROUP BY t.resource_type
    </select>

    <select id="cloudResourceTypes" resultType="map">
        SELECT
            DISTINCT(t.resource_type) as name
        FROM rule_type t
        LEFT JOIN rule t1 on t.rule_id = t1.id
        LEFT JOIN plugin p on t1.plugin_id = p.id
        WHERE p.type = 'cloud'
        GROUP BY t.resource_type
    </select>

    <select id="vulnResourceTypes" resultType="map">
        SELECT
            DISTINCT(t.resource_type) as name
        FROM rule_type t
        LEFT JOIN rule t1 on t.rule_id = t1.id
        LEFT JOIN plugin p on t1.plugin_id = p.id
        WHERE p.type = 'vuln'
        GROUP BY t.resource_type
    </select>

    <select id="getResourceTypesById" resultType="java.lang.String">
        SELECT DISTINCT(resource_type)
        FROM rule_type
        WHERE rule_id = #{ruleId}
        limit 1
    </select>

</mapper>
