<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummerrisk.base.mapper.ext.ExtCloudNativeMapper">
    <resultMap id="BaseResultMap" type="com.hummerrisk.dto.CloudNativeDTO"
               extends="com.hummerrisk.base.mapper.CloudNativeMapper.BaseResultMap">
        <result column="userName" property="userName"/>
        <result column="isProxy" property="isProxy"/>
        <result column="proxy_ip" jdbcType="VARCHAR" property="proxyIp" />
        <result column="proxy_port" jdbcType="VARCHAR" property="proxyPort" />
        <result column="proxy_name" jdbcType="VARCHAR" property="proxyName" />
        <result column="proxy_password" jdbcType="VARCHAR" property="proxyPassword" />
    </resultMap>

    <sql id="condition">
        <choose>
            <when test='${object}.operator == "like"'>
                like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "not like"'>
                not like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "in"'>
                in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "not in"'>
                not in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "between"'>
                between #{${object}.value[0]} and #{${object}.value[1]}
            </when>
            <when test='${object}.operator == "gt"'>
                &gt; #{${object}.value}
            </when>
            <when test='${object}.operator == "lt"'>
                &lt; #{${object}.value}
            </when>
            <when test='${object}.operator == "ge"'>
                &gt;= #{${object}.value}
            </when>
            <when test='${object}.operator == "le"'>
                &lt;= #{${object}.value}
            </when>
            <otherwise>
                = #{${object}.value}
            </otherwise>
        </choose>
    </sql>

    <sql id="combine">
        <if test='${condition}.name != null and (${name} == null or ${name} == "")'>
            and t.name
            <include refid="condition">
                <property name="object" value="${condition}.name"/>
            </include>
        </if>
        <if test="${condition}.updateTime != null">
            and t.update_time
            <include refid="condition">
                <property name="object" value="${condition}.updateTime"/>
            </include>
        </if>
        <if test="${condition}.pluginId != null">
            and p1.id
            <include refid="condition">
                <property name="object" value="${condition}.pluginId"/>
            </include>
        </if>
        <if test="${condition}.createTime != null">
            and t.create_time
            <include refid="condition">
                <property name="object" value="${condition}.createTime"/>
            </include>
        </if>
        <if test="${condition}.status != null">
            and t.status
            <include refid="condition">
                <property name="object" value="${condition}.status"/>
            </include>
        </if>
        <if test="${condition}.creator != null">
            and user.id
            <include refid="condition">
                <property name="object" value="${condition}.creator"/>
            </include>
        </if>
    </sql>

    <select id="getCloudNativeList" resultMap="BaseResultMap">
        select
        t.*,
        p.proxy_ip,
        p.proxy_port,
        p.proxy_name,
        p.proxy_password,
        user.name as userName,
        IF(p.proxy_ip, true, false) as isProxy
        from cloud_native as t
        left join user on t.creator = user.id
        left join proxy p on t.proxy_id = p.id
        LEFT JOIN plugin p1 on t.plugin_id = p1.id
        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                    <property name="name" value="request.name"/>
                </include>
            </if>

            <if test="request.name != null and request.name != ''">
                and LOWER(t.name) like CONCAT('%', LOWER(#{request.name}),'%')
            </if>
            <if test="request.userName != null and request.userName != ''">
                and user.name like CONCAT('%', #{request.userName},'%')
            </if>
            <if test="request.status != null and request.status != ''">
                and t.status = #{request.status}
            </if>
            AND p1.type = 'native'
        </where>
        order by t.update_time desc
    </select>

    <select id="topInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT *
        from (
              (SELECT IFNULL(count(*), 0) as k8s from cloud_native) as k8s,
              (SELECT IFNULL(count(t.id), 0) as critical from cloud_native_result_item t join cloud_native_result t1 on t.result_id = t1.id where LOWER(t.severity) = 'critical') as critical,
              (SELECT IFNULL(count(t.id), 0) as high from cloud_native_result_item t join cloud_native_result t1 on t.result_id = t1.id where LOWER(t.severity) = 'high') as high,
              (SELECT IFNULL(count(t.id), 0) as medium from cloud_native_result_item t join cloud_native_result t1 on t.result_id = t1.id where LOWER(t.severity) = 'medium') as medium,
              (SELECT IFNULL(count(t.id), 0) as low from cloud_native_result_item t join cloud_native_result t1 on t.result_id = t1.id where LOWER(t.severity) = 'low') as low,
              (SELECT IFNULL(count(t.id), 0) as unknown from cloud_native_result_item t join cloud_native_result t1 on t.result_id = t1.id where LOWER(t.severity) = 'unknown') as unknown
                 )
    </select>

    <select id="k8sChart" resultType="java.util.Map">
        SELECT
            concat(t.name, ' (', t.return_sum, ')') as 'name',
            t.return_sum as 'value'
        FROM cloud_native_result as t
        ORDER BY t.update_time DESC
        Limit 10;
    </select>

    <select id="severityChart" resultType="java.util.Map">
        SELECT
            t.name as 'product',
            (SELECT IFNULL(count(t1.id), 0) as Critical from cloud_native_result_item t1 where t1.result_id = t.id and LOWER(t1.severity) = 'critical') as Critical,
            (SELECT IFNULL(count(t1.id), 0) as High from cloud_native_result_item t1 where t1.result_id = t.id and LOWER(t1.severity) = 'high') as High,
            (SELECT IFNULL(count(t1.id), 0) as Medium from cloud_native_result_item t1 where t1.result_id = t.id and LOWER(t1.severity) = 'medium') as Medium,
            (SELECT IFNULL(count(t1.id), 0) as Low from cloud_native_result_item t1 where t1.result_id = t.id and LOWER(t1.severity) = 'low') as Low,
            (SELECT IFNULL(count(t1.id), 0) as Unknown from cloud_native_result_item t1 where t1.result_id = t.id and LOWER(t1.severity) = 'unknown') as Unknown
        FROM cloud_native_result as t
        ORDER BY t.update_time DESC
        Limit 10;
    </select>

</mapper>
