<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummerrisk.base.mapper.ext.ExtCloudNativeSourceRbacMapper">

    <select id="nodes" resultType="com.hummerrisk.controller.request.k8s.rbac.Nodes">
        select t.* from cloud_native_source_rbac_node t
    </select>

    <resultMap id="LinkMap" type="com.hummerrisk.controller.request.k8s.rbac.Links">
        <result column="linkId" jdbcType="VARCHAR" property="linkId" />
        <result column="relaId" jdbcType="VARCHAR" property="relaId" />
        <result column="source" jdbcType="VARCHAR" property="source" />
        <result column="target" jdbcType="VARCHAR" property="target" />
        <result column="createTime" jdbcType="BIGINT" property="createTime" />
        <association property="relation" select="selectRela" column="relaId">
        </association>
    </resultMap>

    <resultMap id="RelaMap" type="com.hummerrisk.controller.request.k8s.rbac.Relation">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="createTime" jdbcType="BIGINT" property="createTime" />
    </resultMap>

    <select id="links" resultMap="LinkMap">
        select t.source, t.target, t1.id as relaId
        from cloud_native_source_rbac_link t
        left join cloud_native_source_rbac_relation t1 on t.id = t1.link_id
    </select>

    <select id="selectRela" resultMap="RelaMap">
        select t.id, t.name
        from cloud_native_source_rbac_relation t
        where t.id = #{relaId}
    </select>

</mapper>
