<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummerrisk.base.mapper.ext.ExtCloudNativeSourceRbacMapper">

    <select id="nodes" resultType="com.hummerrisk.controller.request.k8s.rbac.Nodes" parameterType="java.lang.String">
        select
            t.id,
            IF(IFNULL(t.nameSpace, true), t.name, CONCAT(t.name, '(', t.nameSpace, ')')) as name,
            t.value,
            t.symbolSize,
            t.category
        from cloud_native_source_rbac_node t
        where t.k8s_id = #{k8sId}
        order by t.order
    </select>

    <resultMap id="LinkMap" type="com.hummerrisk.controller.request.k8s.rbac.Links">
        <result column="relaId" jdbcType="VARCHAR" property="relaId" />
        <result column="source" jdbcType="VARCHAR" property="source" />
        <result column="target" jdbcType="VARCHAR" property="target" />
        <association property="relation" select="selectRela" column="relaId">
        </association>
    </resultMap>

    <resultMap id="RelaMap" type="com.hummerrisk.controller.request.k8s.rbac.Relation">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="links" resultMap="LinkMap" parameterType="java.lang.String">
        select t.source, t.target, t1.id as relaId
        from cloud_native_source_rbac_link t
        left join cloud_native_source_rbac_relation t1 on t.id = t1.link_id
        where t.k8s_id = #{k8sId}
    </select>

    <select id="selectRela" resultMap="RelaMap" parameterType="java.lang.String">
        select t.id, t.name
        from cloud_native_source_rbac_relation t
        where t.id = #{relaId}
    </select>

</mapper>
