<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummerrisk.base.mapper.ext.ExtCloudEventMapper">


  <insert id="batchCloudEvents">
    insert into cloud_event(event_id, sync_region, acs_region,
    event_name, event_type, event_category,
    event_version, event_rw, event_message,
    event_source, event_time, source_ip_address,
    user_agent, user_identity, service_name,
    additional_event_data, request_id, request_parameters,
    resource_type, resource_name, referenced_resources,
    api_version, response_elements, cloud_account_id
    ) values
    <foreach item="item" index="index" collection="list" separator=",">
      (#{item.eventId,jdbcType=VARCHAR}, #{item.syncRegion,jdbcType=VARCHAR}, #{item.acsRegion,jdbcType=VARCHAR},
      #{item.eventName,jdbcType=VARCHAR}, #{item.eventType,jdbcType=VARCHAR}, #{item.eventCategory,jdbcType=VARCHAR},
      #{item.eventVersion,jdbcType=VARCHAR}, #{item.eventRw,jdbcType=VARCHAR}, #{item.eventMessage,jdbcType=VARCHAR},
      #{item.eventSource,jdbcType=VARCHAR}, #{item.eventTime,jdbcType=TIMESTAMP}, #{item.sourceIpAddress,jdbcType=VARCHAR},
      #{item.userAgent,jdbcType=VARCHAR}, #{item.userIdentity,jdbcType=VARCHAR}, #{item.serviceName,jdbcType=VARCHAR},
      #{item.additionalEventData,jdbcType=VARCHAR}, #{item.requestId,jdbcType=VARCHAR}, #{item.requestParameters,jdbcType=VARCHAR},
      #{item.resourceType,jdbcType=VARCHAR}, #{item.resourceName,jdbcType=VARCHAR}, #{item.referencedResources,jdbcType=VARCHAR},
      #{item.apiVersion,jdbcType=VARCHAR}, #{item.responseElements,jdbcType=VARCHAR}, #{item.cloudAccountId,jdbcType=VARBINARY}
      )
    </foreach>
  </insert>


</mapper>