<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummerrisk.base.mapper.ext.ExtCloudTaskMapper">
    <resultMap id="ExtResultMap" type="com.hummerrisk.dto.CloudTaskDTO"
               extends="com.hummerrisk.base.mapper.CloudTaskMapper.BaseResultMap">
            <result column="count" property="count"/>
            <result column="custom_data" property="customData"/>
            <result column="details" property="details"/>
            <result column="rule_id" property="ruleId"/>
            <result column="task_item_create_time" property="taskItemCreateTime"/>
    </resultMap>

    <select id="getTaskDetail" resultMap="ExtResultMap" parameterType="java.lang.String">
        SELECT
          cloud_task.*,
          cloud_task_item.custom_data              AS custom_data,
          cloud_task_item.details                  AS details,
          cloud_task_item.rule_id                  AS rule_id,
          cloud_task_item.create_time              AS task_item_create_time
       FROM cloud_task JOIN cloud_task_item ON cloud_task.id = cloud_task_item.task_id
       WHERE cloud_task.id = #{taskId}
       limit 1
    </select>


    <select id="searchTask" parameterType="com.hummerrisk.controller.request.cloudTask.CloudTaskSearchRequest" resultMap="ExtResultMap">
        SELECT *
        FROM cloud_task
        <if test="applyUser != null">
            LEFT JOIN user ON cloud_task.apply_user = user.id
        </if>
        <where>
            <if test="id != null">
                AND cloud_task.id like #{id}
            </if>
            <if test="status != null">
                AND cloud_task.status = #{status}
            </if>
            <if test="applyUser != null">
                AND user.name LIKE #{applyUser}
            </if>
            <if test="processId != null">
                AND cloud_task.process_id = #{processId}
            </if>
            <if test="type != null">
                AND cloud_task.type = #{type}
            </if>
        </where>
        Order BY cloud_task.create_time desc
    </select>

    <select id="getTaskExtendInfo" resultMap="ExtResultMap">
        SELECT cloud_task.*, COUNT(task_item_resource.resource_id) as count
        FROM cloud_task
        LEFT JOIN cloud_task_item_resource ON task_item_resource.task_id = cloud_task.id
        WHERE cloud_task.id = #{taskId}
        GROUP BY cloud_task.id
    </select>

    <select id="getResourceSum" resultType="java.lang.Integer">
        SELECT IFNULL(sum(IFNULL(t3.resources_sum, 0)), 0)
        FROM cloud_task t
        LEFT JOIN cloud_task_item t1 ON t.id = t1.task_id
        LEFT JOIN cloud_task_item_resource t2  ON t1.id = t2.task_item_id
        LEFT JOIN resource t3  ON t2.resource_id = t3.id
        WHERE t.id = #{taskId}
    </select>

    <select id="getReturnSum" resultType="java.lang.Integer">
        SELECT IFNULL(sum(IFNULL(t3.return_sum, 0)), 0)
        FROM cloud_task t
        LEFT JOIN cloud_task_item t1 ON t.id = t1.task_id
        LEFT JOIN cloud_task_item_resource t2  ON t1.id = t2.task_item_id
        LEFT JOIN resource t3  ON t2.resource_id = t3.id
        WHERE t.id = #{taskId}
    </select>

    <resultMap id="BaseResultMap" type="com.hummerrisk.dto.CloudTaskDTO"
               extends="com.hummerrisk.base.mapper.CloudTaskMapper.BaseResultMap">
        <result column="account_name" property="accountName"/>
    </resultMap>

    <select id="getTopTasksForEmail" resultMap="BaseResultMap" parameterType="com.hummerrisk.base.domain.MessageOrder">
        SELECT t.*, t3.name as account_name
        FROM cloud_task t
        JOIN message_order_item t1 ON t.id = t1.task_id
        JOIN message_order t2 ON t1.message_order_id = t2.id
        JOIN cloud_account t3 ON t2.account_id = t3.id
        WHERE t2.id = #{id}
        ORDER BY t.return_sum DESC
    </select>

    <select id="getReturnSumForEmail" resultType="java.lang.Integer" parameterType="com.hummerrisk.base.domain.MessageOrder">
        SELECT IFNULL(sum(IFNULL(t.return_sum, 0)), 0)
        FROM cloud_task t
        JOIN message_order_item t1 ON t.id = t1.task_id
        JOIN message_order t2 ON t1.message_order_id = t2.id
        WHERE t2.id = #{id}
    </select>

    <select id="getResourcesSumForEmail" resultType="java.lang.Integer" parameterType="com.hummerrisk.base.domain.MessageOrder">
        SELECT IFNULL(sum(IFNULL(t.resources_sum, 0)), 0)
        FROM cloud_task t
        JOIN message_order_item t1 ON t.id = t1.task_id
        JOIN message_order t2 ON t1.message_order_id = t2.id
        WHERE t2.id = #{id}
    </select>

</mapper>
