<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummerrisk.base.mapper.ext.ExtDashboardMapper">

    <select id="topInfo" parameterType="java.util.Map" resultType="com.hummerrisk.dto.TopInfoDTO">
        SELECT *
        from (
              (SELECT IFNULL(count(user.id), 0) as users from user) as users,
              (SELECT IFNULL(count(task.id), 0) as tasks from task) as tasks,
              (SELECT (SELECT IFNULL(count(t.id), 0) from cloud_account t) + (SELECT IFNULL(count(t.id), 0) from image t) + (SELECT IFNULL(count(t.id), 0) from package t) + (SELECT IFNULL(count(t.id), 0) from server t) as accounts) as accounts,
              (SELECT IFNULL(count(t.id), 0) as cloudAccounts from cloud_account t where t.plugin_id not in ('hummer-nuclei-plugin', 'hummer-xray-plugin', 'hummer-tsunami-plugin')) as cloudAccounts,
              (SELECT IFNULL(count(t.id), 0) as vulnAccounts from cloud_account t where t.plugin_id in ('hummer-nuclei-plugin', 'hummer-xray-plugin', 'hummer-tsunami-plugin')) as vulnAccounts,
              (SELECT IFNULL(count(t.id), 0) as serverAccounts from server t) as serverAccounts,
              (SELECT IFNULL(count(t.id), 0) as packageAccounts from package t) as packageAccounts,
              (SELECT IFNULL(count(t.id), 0) as imageAccounts from image t) as imageAccounts,
              (SELECT (SELECT IFNULL(count(t.id), 0) from rule t) + (SELECT IFNULL(count(t.id), 0) from image_rule t) + (SELECT IFNULL(count(t.id), 0) from package_rule t) + (SELECT IFNULL(count(t.id), 0) from server_rule t) as rules) as rules,
              (SELECT IFNULL(count(t.id), 0) as cloudRules from rule t where t.plugin_id not in ('hummer-nuclei-plugin', 'hummer-xray-plugin', 'hummer-tsunami-plugin')) as cloudRules,
              (SELECT IFNULL(count(t.id), 0) as vulnRules from rule t where t.plugin_id in ('hummer-nuclei-plugin', 'hummer-xray-plugin', 'hummer-tsunami-plugin')) as vulnRules,
              (SELECT IFNULL(count(t.id), 0) as imageRules from image_rule t) as imageRules,
              (SELECT IFNULL(count(t.id), 0) as packageRules from package_rule t) as packageRules,
              (SELECT IFNULL(count(t.id), 0) as serverRules from server_rule t) as serverRules,
              (SELECT (SELECT IFNULL(count(t.id), 0) from resource_item t) + (SELECT IFNULL(count(t.id), 0) from image_result t) + (SELECT IFNULL(count(t.id), 0) from package_result t) + (SELECT IFNULL(count(t.id), 0) from server_result t) as results) as results,
              (SELECT IFNULL(count(t.id), 0) as cloudResult from resource_item t where t.plugin_id not in ('hummer-nuclei-plugin', 'hummer-xray-plugin', 'hummer-tsunami-plugin')) as cloudResult,
              (SELECT IFNULL(count(t.id), 0) as vulnResult from resource_item t where t.plugin_id in ('hummer-nuclei-plugin', 'hummer-xray-plugin', 'hummer-tsunami-plugin')) as vulnResult,
              (SELECT IFNULL(count(t.id), 0) as imageResult from image_result t) as imageResult,
              (SELECT IFNULL(count(t.id), 0) as packageResult from package_result t) as packageResult,
              (SELECT IFNULL(count(t.id), 0) as serverResult from server_result t) as serverResult
                 )
    </select>

    <select id="packageChartX" parameterType="java.util.Map" resultType="java.lang.String">
        select name
        from package_result
        order by update_time desc
        limit 10;
    </select>

    <select id="packageChartY" parameterType="java.util.Map" resultType="java.lang.Integer">
        select IFNULL(return_sum, 0) as returnSum
        from package_result
        order by update_time desc
        limit 10;
    </select>

    <select id="imageChartX" parameterType="java.util.Map" resultType="java.lang.String">
        select name
        from image_result
        order by update_time desc
        limit 10;
    </select>

    <select id="imageChartY" parameterType="java.util.Map" resultType="java.lang.Integer">
        select IFNULL(return_sum, 0) as returnSum
        from image_result
        order by update_time desc
        limit 10;
    </select>

    <select id="taskCalendar" resultType="com.hummerrisk.controller.request.dashboard.TaskCalendarVo">
        select
            'current-month' as 'type',
            true as 'isSelected',
            from_unixtime(t.last_fire_time/1000, '%Y-%m-%d') as 'day'
        from task t
        GROUP BY
            from_unixtime(t.last_fire_time/1000, '%Y-%m-%d')
        ORDER BY
            from_unixtime(t.last_fire_time/1000, '%Y-%m-%d')
    </select>

</mapper>
