<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummerrisk.base.mapper.ext.ExtRuleInspectionReportMapper">
    <resultMap id="BaseResultMap" type="com.hummerrisk.base.domain.RuleInspectionReport"
               extends="com.hummerrisk.base.mapper.RuleInspectionReportMapper.BaseResultMap">
    </resultMap>

    <sql id="condition">
        <choose>
            <when test='${object}.operator == "like"'>
                like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "not like"'>
                not like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "in"'>
                in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "not in"'>
                not in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "between"'>
                between #{${object}.value[0]} and #{${object}.value[1]}
            </when>
            <when test='${object}.operator == "gt"'>
                &gt; #{${object}.value}
            </when>
            <when test='${object}.operator == "lt"'>
                &lt; #{${object}.value}
            </when>
            <when test='${object}.operator == "ge"'>
                &gt;= #{${object}.value}
            </when>
            <when test='${object}.operator == "le"'>
                &lt;= #{${object}.value}
            </when>
            <otherwise>
                = #{${object}.value}
            </otherwise>
        </choose>
    </sql>

    <sql id="combine">
        <if test='${condition}.itemSortFirstLevel != null'>
            and t.item_sort_first_level
            <include refid="condition">
                <property name="object" value="${condition}.itemSortFirstLevel"/>
            </include>
        </if>
        <if test='${condition}.itemSortSecondLevel != null'>
            and t.item_sort_second_level
            <include refid="condition">
                <property name="object" value="${condition}.itemSortSecondLevel"/>
            </include>
        </if>
        <if test="${condition}.project != null">
            and t.project
            <include refid="condition">
                <property name="object" value="${condition}.project"/>
            </include>
        </if>
        <if test="${condition}.improvement != null">
            and t.improvement
            <include refid="condition">
                <property name="object" value="${condition}.improvement"/>
            </include>
        </if>
    </sql>

    <select id="getRuleInspectionReportList" resultMap="BaseResultMap">
        select
        t.*
        from rule_inspection_report as t
        <where>
            <if test="request.combine != null">
                <include refid="combine">
                    <property name="condition" value="request.combine"/>
                </include>
            </if>

            <if test="request.id != null and request.id != ''">
                and LOWER(t.id) like CONCAT('%', LOWER(#{request.id}),'%')
            </if>
            <if test="request.itemSortFirstLevel != null and request.itemSortFirstLevel != ''">
                and LOWER(t.item_sort_first_level) like CONCAT('%', LOWER(#{request.itemSortFirstLevel}),'%')
            </if>
            <if test="request.itemSortSecondLevel != null and request.itemSortSecondLevel != ''">
                and LOWER(t.item_sort_second_level) like CONCAT('%', LOWER(#{request.itemSortSecondLevel}),'%')
            </if>
            <if test="request.project != null and request.project != ''">
                and LOWER(t.project) like CONCAT('%', LOWER(#{request.project}),'%')
            </if>
        </where>
        order by t.id
    </select>


</mapper>
