<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummerrisk.base.mapper.ext.ExtServerResultMapper">

    <sql id="condition">
        <choose>
            <when test='${object}.operator == "like"'>
                like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "not like"'>
                not like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "in"'>
                in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "not in"'>
                not in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "between"'>
                between #{${object}.value[0]} and #{${object}.value[1]}
            </when>
            <when test='${object}.operator == "gt"'>
                &gt; #{${object}.value}
            </when>
            <when test='${object}.operator == "lt"'>
                &lt; #{${object}.value}
            </when>
            <when test='${object}.operator == "ge"'>
                &gt;= #{${object}.value}
            </when>
            <when test='${object}.operator == "le"'>
                &lt;= #{${object}.value}
            </when>
            <otherwise>
                = #{${object}.value}
            </otherwise>
        </choose>
    </sql>

    <sql id="combine">
        <if test='${condition}.name != null'>
            and t.server_name
            <include refid="condition">
                <property name="object" value="${condition}.name"/>
            </include>
        </if>
        <if test='${condition}.ruleName != null'>
            and t.rule_name
            <include refid="condition">
                <property name="object" value="${condition}.ruleName"/>
            </include>
        </if>
        <if test='${condition}.severity != null'>
            and t.severity
            <include refid="condition">
                <property name="object" value="${condition}.severity"/>
            </include>
        </if>
        <if test='${condition}.ruleTag != null and ${condition}.ruleTag.value != "all"'>
            and #{${condition}.ruleTag.value}
            <choose>
                <when test='${condition}.ruleTag.operator == "in"'>
                    in (select tag_key from rule_tag_mapping where rule_id = t.rule_id)
                </when>
                <when test='${condition}.ruleTag.operator == "not in"'>
                    not in (select tag_key from rule_tag_mapping where rule_id = t.rule_id)
                </when>
            </choose>
        </if>
    </sql>

    <select id="resultList" parameterType="com.hummerrisk.controller.request.server.ServerResultRequest"
            resultType="com.hummerrisk.dto.ServerResultDTO">
        SELECT
        t.*,
        t1.tag_key as tagKey,
        t2.tag_name as tagName,
        u.name as user,
        sg.name as groupName,
        t3.script as rule
        FROM server_result t
        left join rule_tag_mapping t1 on t1.rule_id = t.rule_id
        left join rule_tag t2 on t1.tag_key = t2.tag_key
        left join server_rule t3 on t.rule_id = t3.id
        left join user u on t.apply_user = u.id
        left join server s on s.id = t.server_id
        left join server_group sg on sg.id = s.server_group_id

        <where>
            <if test="id != null">
                AND t.id = #{id}
            </if>
            <if test="name != null">
                AND t.server_name like CONCAT('%',#{name},'%')
            </if>
            <if test="combine != null">
                <include refid="combine">
                    <property name="condition" value="combine"/>
                </include>
            </if>
        </where>
        ORDER BY FIELD(t.severity, 'HighRisk', 'MediumRisk', 'LowRisk'),t.server_name, t.update_time desc
    </select>

</mapper>
