<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummerrisk.base.mapper.ext.ExtVulnMapper">

    <resultMap id="TargetMap" type="com.hummerrisk.commons.utils.DashboardTarget"
               extends="com.hummerrisk.base.mapper.RuleMapper.BaseResultMap">
        <result column="ratio" jdbcType="VARCHAR" property="ratio"/>
        <result column="reSum" jdbcType="VARCHAR" property="reSum"/>
        <result column="ruSum" jdbcType="VARCHAR" property="ruSum"/>
        <result column="tagName" jdbcType="VARCHAR" property="tagName"/>
    </resultMap>

    <select id="target" parameterType="java.util.Map" resultMap="TargetMap">
        SELECT
        t.*,
        t3.tag_name AS tagName,
        IFNULL((
        SELECT
        sum( t1.return_sum )
        FROM
        resource t1
        LEFT JOIN resource_rule t2 ON t1.id = t2.resource_id
        WHERE
        t2.rule_id = t.id
        ), 0) as ruSum,
        IFNULL((
        SELECT
        sum( t1.resources_sum )
        FROM
        resource t1
        LEFT JOIN resource_rule t2 ON t1.id = t2.resource_id
        WHERE
        t2.rule_id = t.id
        ), 0) as reSum,
        IFNULL(concat(truncate('100%'-
        IFNULL(
        (SELECT
        sum( t1.return_sum )
        FROM
        resource t1
        LEFT JOIN resource_rule t2 ON t1.id = t2.resource_id
        WHERE
        t2.rule_id = t.id
        ), 0) / IFNULL((
        SELECT
        sum( t1.resources_sum )
        FROM
        resource t1
        LEFT JOIN resource_rule t2 ON t1.id = t2.resource_id
        WHERE
        t2.rule_id = t.id
        ), 1)
        *100, 2),'%'), '100.00%') AS ratio
        FROM rule t
        LEFT JOIN rule_tag_mapping t2 ON t.id = t2.rule_id
        LEFT JOIN rule_tag t3 ON t2.tag_key = t3.tag_key
        LEFT JOIN cloud_account t4 ON t.plugin_id = t4.plugin_id
        LEFT JOIN plugin p on t.plugin_id = p.id
        <where>
            AND t4.`status` = 'VALID'
            <if test="severity != null">
                AND t.severity = #{severity}
            </if>
            <if test="tagKey != null">
                AND t2.tag_key = #{tagKey}
            </if>
            <if test="accountId != null">
                AND t4.id = #{accountId}
            </if>
            and p.type = 'cloud' or p.id = 'hummer-k8s-plugin'
        </where>
        ORDER BY CONVERT(ratio, signed), ruSum desc
    </select>

    <select id="vulnTarget" parameterType="java.util.Map" resultMap="TargetMap">
        SELECT
        t.*,
        t3.tag_name AS tagName,
        IFNULL((
        SELECT
        sum( t1.return_sum )
        FROM
        resource t1
        LEFT JOIN resource_rule t2 ON t1.id = t2.resource_id
        WHERE
        t2.rule_id = t.id
        ), 0) as ruSum,
        IFNULL((
        SELECT
        sum( t1.resources_sum )
        FROM
        resource t1
        LEFT JOIN resource_rule t2 ON t1.id = t2.resource_id
        WHERE
        t2.rule_id = t.id
        ), 0) as reSum,
        IFNULL(concat(truncate('100%'-
        IFNULL(
        (SELECT
        sum( t1.return_sum )
        FROM
        resource t1
        LEFT JOIN resource_rule t2 ON t1.id = t2.resource_id
        WHERE
        t2.rule_id = t.id
        ), 0) / IFNULL((
        SELECT
        sum( t1.resources_sum )
        FROM
        resource t1
        LEFT JOIN resource_rule t2 ON t1.id = t2.resource_id
        WHERE
        t2.rule_id = t.id
        ), 1)
        *100, 2),'%'), '100.00%') AS ratio
        FROM rule t
        LEFT JOIN rule_tag_mapping t2 ON t.id = t2.rule_id
        LEFT JOIN rule_tag t3 ON t2.tag_key = t3.tag_key
        LEFT JOIN cloud_account t4 ON t.plugin_id = t4.plugin_id
        LEFT JOIN plugin p on t.plugin_id = p.id
        <where>
            t.id in (select rule_id from resource_rule)
            AND t4.`status` = 'VALID'
            <if test="severity != null">
                AND t.severity = #{severity}
            </if>
            <if test="tagKey != null">
                AND t2.tag_key = #{tagKey}
            </if>
            <if test="accountId != null">
                AND t4.id = #{accountId}
            </if>
            and p.type = 'vuln'
        </where>
        ORDER BY CONVERT(ratio, signed), ruSum desc
    </select>

    <select id="severityList" resultType="java.util.Map">
       SELECT
            t.severity,
            IFNULL( sum(t.return_sum), 0 ) AS returnSum,
            IFNULL( sum(t.resources_sum), 0 ) AS resourcesSum
        FROM
            resource t
            LEFT JOIN plugin p on t.plugin_id = p.id
        WHERE p.type = 'cloud'
        GROUP BY t.severity
    </select>

    <select id="overall" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
            IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
            t.tag_name AS groupName,
            t.tag_name AS xAxis
        FROM
            rule_tag t
            LEFT JOIN rule_tag_mapping t1 ON t.tag_key = t1.tag_key
            LEFT JOIN rule t2 ON t1.rule_id = t2.id
            LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
            LEFT JOIN resource t4 ON t3.resource_id = t4.id
            LEFT JOIN plugin p on t2.plugin_id = p.id
        WHERE p.type = 'cloud'
        GROUP BY
            t.tag_key
        HAVING
            t.tag_key IN ( 'cost', 'safety', 'tagging' )
        UNION ALL
        SELECT
            IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
            '其他' AS groupName,
            'other' AS xAxis
        FROM
            rule_tag t
            LEFT JOIN rule_tag_mapping t1 ON t.tag_key = t1.tag_key
            LEFT JOIN rule t2 ON t1.rule_id = t2.id
            LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
            LEFT JOIN resource t4 ON t3.resource_id = t4.id
            LEFT JOIN plugin p on t2.plugin_id = p.id
        WHERE
            t.tag_key NOT IN ( 'cost', 'safety', 'tagging' )
        AND p.type = 'cloud'
    </select>

    <select id="ruleGroup" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
            IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
            t.name AS groupName,
            t.name AS xAxis
        FROM
            rule_group t
            LEFT JOIN rule_group_mapping t1 ON t.id = t1.group_id
            LEFT JOIN rule t2 ON t1.rule_id = t2.id
            LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
            LEFT JOIN resource t4 ON t3.resource_id = t4.id
            LEFT JOIN plugin p on t2.plugin_id = p.id
        WHERE p.type = 'cloud'
        GROUP BY
            t.name
        ORDER BY
            yAxis desc
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="report" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
            IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
            t.item_sort_first_level AS groupName,
            t.item_sort_first_level AS xAxis
        FROM
            rule_inspection_report t
            LEFT JOIN rule_inspection_report_mapping t1 ON t.id = t1.report_id
            LEFT JOIN rule t2 ON t1.rule_id = t2.id
            LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
            LEFT JOIN resource t4 ON t3.resource_id = t4.id
            LEFT JOIN plugin p on t2.plugin_id = p.id
        WHERE p.type = 'cloud'
        GROUP BY
            t.item_sort_first_level
        HAVING
            yAxis != 0
        ORDER BY
            yAxis desc
    </select>

    <select id="ruleList" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
            IFNULL( sum( t2.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t2.resources_sum ), 0 ) AS yAxis2,
            t.name AS groupName,
            (select sum(resources_sum) from resource) AS xAxis
        FROM
            rule t
            LEFT JOIN resource_rule t1 ON t.id = t1.rule_id
            LEFT JOIN resource t2 ON t1.resource_id = t2.id
            LEFT JOIN plugin p on t.plugin_id = p.id
        WHERE p.type = 'cloud'
        GROUP BY
            t.id, t.name
        ORDER BY
            yAxis desc
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="accountList" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
            IFNULL( sum( t1.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t1.resources_sum ), 0 ) AS yAxis2,
            t.name AS groupName,
            IFNULL( (SELECT scan_score FROM history_scan tt WHERE tt.account_id = t.id ORDER BY tt.create_time DESC limit 1), 100) AS xAxis
        FROM
            cloud_account t
            LEFT JOIN resource t1 ON t1.account_id = t.id
            LEFT JOIN plugin p on t.plugin_id = p.id
        WHERE p.type = 'cloud'
        GROUP BY
            t.id
        HAVING
            yAxis != 0
        ORDER BY
            yAxis desc
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="vulnList" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
        IFNULL( sum( t1.return_sum ), 0 ) AS yAxis,
        IFNULL( sum( t1.resources_sum ), 0 ) AS yAxis2,
        t.name AS groupName,
        IFNULL( (SELECT scan_score FROM history_scan tt WHERE tt.account_id = t.id ORDER BY tt.create_time DESC limit 1), 100) AS xAxis
        FROM
        cloud_account t
        LEFT JOIN resource t1 ON t1.account_id = t.id
        LEFT JOIN plugin p on t.plugin_id = p.id
        WHERE p.type = 'vuln'
        GROUP BY
        t.id
        HAVING
        yAxis != 0
        ORDER BY
        yAxis desc
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="vulnRuleList" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
        IFNULL( sum( t2.return_sum ), 0 ) AS yAxis,
        IFNULL( sum( t2.resources_sum ), 0 ) AS yAxis2,
        t.name AS groupName,
        (select sum(resources_sum) from resource) AS xAxis
        FROM
        rule t
        LEFT JOIN resource_rule t1 ON t.id = t1.rule_id
        LEFT JOIN resource t2 ON t1.resource_id = t2.id
        LEFT JOIN plugin p on t.plugin_id = p.id
        WHERE p.type = 'vuln'
        GROUP BY
        t.id, t.name
        ORDER BY
        yAxis desc
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="vulnOverall" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
            IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
            t.tag_name AS groupName,
            t.tag_name AS xAxis
        FROM
            rule_tag t
                LEFT JOIN rule_tag_mapping t1 ON t.tag_key = t1.tag_key
                LEFT JOIN rule t2 ON t1.rule_id = t2.id
                LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
                LEFT JOIN resource t4 ON t3.resource_id = t4.id
                LEFT JOIN plugin p on t2.plugin_id = p.id
        WHERE p.type = 'vuln'
        GROUP BY
            t.tag_key
        HAVING
            t.tag_key IN ( 'cost', 'safety', 'tagging' )
        UNION ALL
        SELECT
            IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
            '其他' AS groupName,
            'other' AS xAxis
        FROM
            rule_tag t
                LEFT JOIN rule_tag_mapping t1 ON t.tag_key = t1.tag_key
                LEFT JOIN rule t2 ON t1.rule_id = t2.id
                LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
                LEFT JOIN resource t4 ON t3.resource_id = t4.id
                LEFT JOIN plugin p on t2.plugin_id = p.id
        WHERE
            t.tag_key NOT IN ( 'cost', 'safety', 'tagging' )
            AND p.type = 'vuln'
    </select>

    <select id="vulnRuleGroup" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
        IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
        IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
        t.name AS groupName,
        t.name AS xAxis
        FROM
        rule_group t
        LEFT JOIN rule_group_mapping t1 ON t.id = t1.group_id
        LEFT JOIN rule t2 ON t1.rule_id = t2.id
        LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
        LEFT JOIN resource t4 ON t3.resource_id = t4.id
        LEFT JOIN plugin p on t2.plugin_id = p.id
        WHERE p.type = 'vuln'
        GROUP BY
        t.name
        ORDER BY
        yAxis desc
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="regionsList" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
            IFNULL( sum(t2.return_sum), 0 ) AS yAxis,
            IFNULL( sum(t2.resources_sum), 0 ) AS yAxis2,
            t.region_name AS groupName,
            t.region_id AS xAxis
        FROM
            cloud_task_item t
            LEFT JOIN cloud_task_item_resource t1 ON t.id = t1.task_item_id
            LEFT JOIN resource t2 ON t2.id = t1.resource_id
            LEFT JOIN plugin p on t2.plugin_id = p.id
        <where>
            <if test="accountId != null">
                AND t.account_id = #{accountId}
            </if>
            AND p.type = 'cloud'
        </where>
        GROUP BY
            t.region_id,t.region_name
        HAVING
            yAxis != 0
        ORDER BY
            yAxis desc
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="totalPolicy" resultType="java.util.Map">
        SELECT
            IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
            (select count(tag_name) from rule_tag) AS critical,
            t.tag_name AS groupName,
            t.tag_key AS xAxis,
            (select IFNULL( sum( return_sum ), 0 ) from resource LEFT JOIN plugin p on plugin_id = p.id WHERE p.type = 'cloud') AS returnTotal,
            (select IFNULL( sum( resources_sum ), 0 ) from resource LEFT JOIN plugin p on plugin_id = p.id WHERE p.type = 'cloud') AS resourceTotal
        FROM
            rule_tag t
            LEFT JOIN rule_tag_mapping t1 ON t.tag_key = t1.tag_key
            LEFT JOIN rule t2 ON t1.rule_id = t2.id
            LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
            LEFT JOIN resource t4 ON t3.resource_id = t4.id
            LEFT JOIN plugin p on t2.plugin_id = p.id
        WHERE p.type = 'cloud'
        GROUP BY
            t.tag_key
        HAVING
            t.tag_key IN ( 'cost', 'safety', 'tagging' )
		UNION ALL
        SELECT
            IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
            (select count(tag_name) from rule_tag) AS critical,
            '其他' AS groupName,
            'other' AS xAxis,
            (select IFNULL( sum( return_sum ), 0 ) from resource LEFT JOIN plugin p on plugin_id = p.id WHERE p.type = 'cloud') AS returnTotal,
            (select IFNULL( sum( resources_sum ), 0 ) from resource LEFT JOIN plugin p on plugin_id = p.id WHERE p.type = 'cloud') AS resourceTotal
        FROM
            rule_tag t
            LEFT JOIN rule_tag_mapping t1 ON t.tag_key = t1.tag_key
            LEFT JOIN rule t2 ON t1.rule_id = t2.id
            LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
            LEFT JOIN resource t4 ON t3.resource_id = t4.id
            LEFT JOIN plugin p on t2.plugin_id = p.id
        WHERE
            t.tag_key NOT IN ( 'cost', 'safety', 'tagging' )
        AND p.type = 'cloud'
    </select>

    <select id="vulnTotalPolicy" resultType="java.util.Map">
        SELECT
            IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
            (select count(tag_name) from rule_tag) AS critical,
            t.tag_name AS groupName,
            t.tag_key AS xAxis,
            (select IFNULL( sum( return_sum ), 0 ) from resource LEFT JOIN plugin p on plugin_id = p.id WHERE p.type = 'vuln') AS returnTotal,
            (select IFNULL( sum( resources_sum ), 0 ) from resource LEFT JOIN plugin p on plugin_id = p.id WHERE p.type = 'vuln') AS resourceTotal
        FROM
            rule_tag t
                LEFT JOIN rule_tag_mapping t1 ON t.tag_key = t1.tag_key
                LEFT JOIN rule t2 ON t1.rule_id = t2.id
                LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
                LEFT JOIN resource t4 ON t3.resource_id = t4.id
                LEFT JOIN plugin p on t4.plugin_id = p.id
        WHERE p.type = 'vuln'
        GROUP BY
            t.tag_key
        HAVING
            t.tag_key IN ( 'cost', 'safety', 'tagging' )
        UNION ALL
        SELECT
            IFNULL( sum( t4.return_sum ), 0 ) AS yAxis,
            IFNULL( sum( t4.resources_sum ), 0 ) AS yAxis2,
            (select count(tag_name) from rule_tag) AS critical,
            '其他' AS groupName,
            'other' AS xAxis,
            (select IFNULL( sum( return_sum ), 0 ) from resource LEFT JOIN plugin p on plugin_id = p.id WHERE p.type = 'vuln') AS returnTotal,
            (select IFNULL( sum( resources_sum ), 0 ) from resource LEFT JOIN plugin p on plugin_id = p.id WHERE p.type = 'vuln') AS resourceTotal
        FROM
            rule_tag t
                LEFT JOIN rule_tag_mapping t1 ON t.tag_key = t1.tag_key
                LEFT JOIN rule t2 ON t1.rule_id = t2.id
                LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
                LEFT JOIN resource t4 ON t3.resource_id = t4.id
                LEFT JOIN plugin p on t4.plugin_id = p.id
        WHERE
            t.tag_key NOT IN ( 'cost', 'safety', 'tagging' )
          AND p.type = 'vuln'
    </select>

    <select id="countList" resultType="com.hummerrisk.commons.utils.ChartData">
        SELECT
        IFNULL( t.return_sum, 0 ) AS yAxis,
        IFNULL( t.resources_sum, 0 ) AS yAxis2,
        t.task_name AS groupName,
        t.id AS xAxis
        FROM
        cloud_task t
        LEFT JOIN plugin p on t.plugin_id = p.id
        <where>
            <if test="accountId != null">
                AND t.account_id = #{accountId}
            </if>
            AND p.type = 'vuln'
        </where>
        GROUP BY
        t.id
        HAVING
        yAxis != 0
        ORDER BY
        yAxis desc
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="history" resultType="com.hummerrisk.dto.HistoryScanDTO">
        SELECT
            t.id,
            t.account_id as accountId,
            t.create_time as createTime,
            t.`operator`,
            t.resources_sum as resourcesSum,
            t.return_sum as returnSum,
            t.scan_score as scanScore,
            t.output,
            t1.name as accountName,
            t1.plugin_id as pluginId,
            t1.plugin_name as pluginName,
            t1.plugin_icon as pluginIcon
        FROM
        history_scan t
        LEFT JOIN cloud_account t1 ON t.account_id = t1.id
        LEFT JOIN plugin p on t1.plugin_id = p.id
        <where>
            <if test="accountId != null">
                AND t.account_id = #{accountId}
            </if>
            <if test="pluginId != null">
                AND t1.plugin_id = #{pluginId}
            </if>
            AND p.type = 'cloud'
        </where>
        ORDER BY
            t.create_time DESC
    </select>

    <select id="vulnHistory" resultType="com.hummerrisk.dto.HistoryScanDTO">
        SELECT
        t.id,
        t.account_id as accountId,
        t.create_time as createTime,
        t.`operator`,
        t.resources_sum as resourcesSum,
        t.return_sum as returnSum,
        t.scan_score as scanScore,
        t.output,
        t1.name as accountName,
        t1.plugin_id as pluginId,
        t1.plugin_name as pluginName,
        t1.plugin_icon as pluginIcon
        FROM
        history_scan t
        LEFT JOIN cloud_account t1 ON t.account_id = t1.id
        LEFT JOIN plugin p on t1.plugin_id = p.id
        <where>
            <if test="accountId != null">
                AND t.account_id = #{accountId}
            </if>
            <if test="pluginId != null">
                AND t1.plugin_id = #{pluginId}
            </if>
            AND p.type = 'vuln'
        </where>
        ORDER BY
        t.create_time DESC
    </select>

    <select id="groupList" resultType="java.util.Map">
        SELECT
        IFNULL( sum( t4.return_sum ), 0 ) AS returnSum,
        IFNULL( sum( t4.resources_sum ), 0 ) AS resourcesSum,
        t.name,
        t.description
        FROM
        rule_group t
        LEFT JOIN rule_group_mapping t1 ON t.id = t1.group_id
        LEFT JOIN rule t2 ON t1.rule_id = t2.id
        LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
        LEFT JOIN resource t4 ON t3.resource_id = t4.id
        LEFT JOIN plugin p on t2.plugin_id = p.id
        <where>
            <if test="accountId != null">
                AND t4.account_id = #{accountId}
            </if>
            and p.type = 'vuln'
        </where>
        GROUP BY
        t.id
        ORDER BY
        returnSum desc
    </select>

    <select id="reportList" resultType="java.util.Map">
        SELECT
        t.*,
        IFNULL( sum( t4.return_sum ), 0 ) AS returnSum,
        IFNULL( sum( t4.resources_sum ), 0 ) AS resourcesSum,
        CASE
        WHEN
        (
        SELECT count(t5.id) FROM rule_inspection_report_mapping t1
        JOIN rule t2 ON t1.rule_id = t2.id
        JOIN resource_rule t3 ON t2.id = t3.rule_id
        JOIN resource t4 ON t3.resource_id = t4.id
        JOIN resource_item t5 ON t4.id = t5.resource_id
        JOIN plugin p on t2.plugin_id = p.id
        WHERE t1.report_id = t.id
        AND p.type = 'vuln'
        <if test="accountId != null">
            AND t4.account_id = #{accountId}
        </if>
        ) > 0 THEN 'risky'
        ELSE 'risk_free'
        END AS status
        FROM rule_inspection_report t
        LEFT JOIN rule_inspection_report_mapping t1 ON t.id = t1.report_id
        LEFT JOIN rule t2 ON t1.rule_id = t2.id
        LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
        LEFT JOIN resource t4 ON t3.resource_id = t4.id
        LEFT JOIN plugin p on t2.plugin_id = p.id
        <where>
            <if test="accountId != null">
                AND t4.account_id = #{accountId}
            </if>
            AND p.type = 'vuln'
        </where>
        GROUP BY
        t.id
        ORDER BY
        returnSum DESC
    </select>

    <select id="tagList" resultType="java.util.Map">
        SELECT
        IFNULL( sum( t4.return_sum ), 0 ) AS returnSum,
        IFNULL( sum( t4.resources_sum ), 0 ) AS resourcesSum,
        t.tag_key as tagKey,
        t.tag_name as tagName,
        t._index as `index`,
        t.flag
        FROM
        rule_tag t
        LEFT JOIN rule_tag_mapping t1 ON t.tag_key = t1.tag_key
        LEFT JOIN rule t2 ON t1.rule_id = t2.id
        LEFT JOIN resource_rule t3 ON t2.id = t3.rule_id
        LEFT JOIN resource t4 ON t3.resource_id = t4.id
        LEFT JOIN plugin p on t2.plugin_id = p.id
        <where>
            <if test="accountId != null">
                AND t4.account_id = #{accountId}
            </if>
            AND p.type = 'vuln'
        </where>
        GROUP BY
        t.tag_key
        ORDER BY
        returnSum DESC
    </select>

    <select id="resourceList" resultType="java.util.Map">
        SELECT
        t4.task_name as taskName,
        t4.type,
        t4.id as taskId,
        t4.apply_user as applyUser,
        t1.resource_type as resourceType,
        t.hummer_id as hummerId,
        t.plugin_name as pluginName,
        t.plugin_icon as pluginIcon,
        t.region_name as regionName,
        t.update_time as updateTime,
        t.id
        FROM resource_item t
        LEFT JOIN resource t1 ON t1.id = t.resource_id
        LEFT JOIN cloud_task_item_resource t2 ON t1.id = t2.resource_id
        LEFT JOIN cloud_task_item t3 ON t3.id = t2.task_item_id
        LEFT JOIN cloud_task t4 ON t3.task_id = t4.id
        LEFT JOIN plugin p on t1.plugin_id = p.id
        <where>
            <if test="accountId != null">
                AND t.account_id = #{accountId}
            </if>
            AND t4.task_name IS NOT NULL
            AND p.type = 'vuln'
        </where>
        ORDER BY t.create_time DESC
    </select>

    <select id="historyList" resultType="java.util.Map">
        SELECT
        t5.resource_name as resourceName,
        t5.resource_status as resourceStatus,
        t5.resource_type as resourceType,
        t5.return_sum as returnSum,
        t5.resources_sum as resourcesSum,
        t5.plugin_name as pluginName,
        t5.plugin_icon as pluginIcon,
        t5.region_name as regionName,
        t5.severity as severity,
        t5.update_time as updateTime,
        t5.return_html as returnHtml,
        t5.resources as resources,
        t5.id as id
        FROM history_scan t
        JOIN history_scan_task t1 ON t.id = t1.scan_id
        JOIN cloud_task t2 ON t1.task_id = t2.id
        JOIN cloud_task_item t3 ON t3.task_id = t2.id
        JOIN cloud_task_item_resource t4 ON t3.id = t4.task_item_id
        JOIN resource t5 ON t4.resource_id = t5.id
        JOIN plugin p on t2.plugin_id = p.id
        <where>
            <if test="id != null">
                AND t.id = #{id}
            </if>
            AND p.type = 'vuln'
        </where>
        ORDER BY t5.create_time DESC
    </select>

    <select id="historyDiffList" resultType="java.util.Map">
        SELECT
        t5.resource_name as resourceName,
        t5.resource_status as resourceStatus,
        t5.resource_type as resourceType,
        t5.return_sum as returnSum,
        t5.resources_sum as resourcesSum,
        t5.plugin_name as pluginName,
        t5.plugin_icon as pluginIcon,
        t5.region_name as regionName,
        t5.severity as severity,
        t5.update_time as updateTime,
        t5.return_html as returnHtml,
        t5.resources as resources,
        t5.id as id
        FROM resource t5
        JOIN plugin p on t5.plugin_id = p.id
        <where>
            <if test="resourceName != null">
                AND t5.resource_name = #{resourceName}
            </if>
            <if test="resourceType != null">
                AND t5.resource_type = #{resourceType}
            </if>
            <if test="pluginName != null">
                AND t5.plugin_name = #{pluginName}
            </if>
            AND p.type = 'vuln'
        </where>
        ORDER BY t5.create_time DESC
    </select>

</mapper>
