<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummer.k8s.mapper.ext.ExtFileSystemRuleMapper">

  <sql id="condition">
    <choose>
      <when test='${object}.operator == "like"'>
        like CONCAT('%', #{${object}.value},'%')
      </when>
      <when test='${object}.operator == "not like"'>
        not like CONCAT('%', #{${object}.value},'%')
      </when>
      <when test='${object}.operator == "in"'>
        in
        <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
          #{v}
        </foreach>
      </when>
      <when test='${object}.operator == "not in"'>
        not in
        <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
          #{v}
        </foreach>
      </when>
      <when test='${object}.operator == "between"'>
        between #{${object}.value[0]} and #{${object}.value[1]}
      </when>
      <when test='${object}.operator == "gt"'>
        &gt; #{${object}.value}
      </when>
      <when test='${object}.operator == "lt"'>
        &lt; #{${object}.value}
      </when>
      <when test='${object}.operator == "ge"'>
        &gt;= #{${object}.value}
      </when>
      <when test='${object}.operator == "le"'>
        &lt;= #{${object}.value}
      </when>
      <otherwise>
        = #{${object}.value}
      </otherwise>
    </choose>
  </sql>

  <sql id="combine">
    <if test='${condition}.name != null'>
      and t.name
      <include refid="condition">
        <property name="object" value="${condition}.name"/>
      </include>
    </if>
    <if test='${condition}.severity != null'>
      and t.severity
      <include refid="condition">
        <property name="object" value="${condition}.severity"/>
      </include>
    </if>
    <if test='${condition}.ruleTag != null and ${condition}.ruleTag.value != "all"'>
      and #{${condition}.ruleTag.value}
      <choose>
        <when test='${condition}.ruleTag.operator == "in"'>
          in (select tag_key from rule_tag_mapping where rule_id = t.id)
        </when>
        <when test='${condition}.ruleTag.operator == "not in"'>
          not in (select tag_key from rule_tag_mapping where rule_id = t.id)
        </when>
      </choose>
    </if>
    <if test="${condition}.createTime != null">
      and t.create_time
      <include refid="condition">
        <property name="object" value="${condition}.createTime"/>
      </include>
    </if>
  </sql>

  <select id="ruleList" parameterType="com.hummer.common.core.domain.request.fs.FsRuleRequest"
          resultType="com.hummer.common.core.dto.FsRuleDTO">
    SELECT
    t.*,
    t1.tag_key as tagKey,
    t2.tag_name as tagName
    FROM file_system_rule t
    left join rule_tag_mapping t1 on t1.rule_id = t.id
    left join rule_tag t2 on t1.tag_key = t2.tag_key

    <where>
      <if test="id != null">
        AND t.id = #{id}
      </if>
      <if test="name != null">
        AND LOWER(t.name) like CONCAT('%',#{name},'%')
      </if>
      <if test="combine != null">
        <include refid="combine">
          <property name="condition" value="combine"/>
        </include>
      </if>
    </where>
    ORDER BY t.last_modified desc
  </select>

</mapper>
