<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummer.cloud.mapper.ext.ExtCloudResourceRelaMapper">
    <resultMap id="BaseResultMap" type="com.hummer.common.core.dto.CloudResourceRelaDTO">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="resource_item_id" jdbcType="VARCHAR" property="resourceItemId" />
        <result column="plugin_id" jdbcType="VARCHAR" property="pluginId" />
        <result column="account_id" jdbcType="VARCHAR" property="accountId" />
        <result column="region_id" jdbcType="VARCHAR" property="regionId" />
        <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
        <result column="hummer_id" jdbcType="VARCHAR" property="hummerId" />
        <result column="x" jdbcType="BIGINT" property="x" />
        <result column="y" jdbcType="BIGINT" property="y" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="value" property="value"/>
    </resultMap>

    <select id="selectCloudTopologyRela" resultMap="BaseResultMap" parameterType="String">
        select
            t.id,
            t.resource_item_id,
            t.plugin_id,
            t.account_id,
            t.region_id,
            t.resource_type,
            t.hummer_id,
            t.create_time,
            t.x_axis as x,
            t.y_axis as y,
            t.hummer_id as value,
            concat(t.resource_type, ' | ', t.name) as name
        from cloud_resource_rela t
        where t.resource_item_id = #{resourceItemId}
    </select>

</mapper>
