<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummer.auth.mapper.ext.ExtUserMapper">

    <select id="getDefaultLanguage" parameterType="java.lang.String" resultType="java.lang.String">
        select param_value from system_parameter
        where param_key=#{paramKey,jdbcType=VARCHAR}
   </select>


</mapper>
