<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummer.system.mapper.ext.ExtHistoryScanMapper">

    <sql id="condition">
        <choose>
            <when test='${object}.operator == "like"'>
                like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "not like"'>
                not like CONCAT('%', #{${object}.value},'%')
            </when>
            <when test='${object}.operator == "in"'>
                in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "not in"'>
                not in
                <foreach collection="${object}.value" item="v" separator="," open="(" close=")">
                    #{v}
                </foreach>
            </when>
            <when test='${object}.operator == "between"'>
                between #{${object}.value[0]} and #{${object}.value[1]}
            </when>
            <when test='${object}.operator == "gt"'>
                &gt; #{${object}.value}
            </when>
            <when test='${object}.operator == "lt"'>
                &lt; #{${object}.value}
            </when>
            <when test='${object}.operator == "ge"'>
                &gt;= #{${object}.value}
            </when>
            <when test='${object}.operator == "le"'>
                &lt;= #{${object}.value}
            </when>
            <otherwise>
                = #{${object}.value}
            </otherwise>
        </choose>
    </sql>

    <select id="getScanId">
      select t.id
      from history_scan t
      <where>
        <if test="accountId != null">
          and t.account_id = #{accountId}
        </if>
      </where>
      order by t.id desc
      limit 1
    </select>

    <update id="updateByExampleSelective" parameterType="com.hummer.common.core.domain.HistoryScan">
        UPDATE history_scan
        <set>
            <if test="operator != null">
                `operator` = #{operator},
            </if>
            <if test="resourcesSum != null">
                resources_sum = #{resourcesSum},
            </if>
            <if test="returnSum != null">
                return_sum = #{returnSum},
            </if>
            <if test="scanScore != null">
                scan_score = #{scanScore},
            </if>
        </set>
        WHERE account_id = #{accountId}
        ORDER BY create_time desc
        LIMIT 1
    </update>

</mapper>
