<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummer.system.mapper.ext.ExtNoticeMapper">

    <select id="metricChartCloud" resultType="com.hummer.common.core.dto.MetricChartDTO">
        SELECT * from
        (select IFNULL(sum(IFNULL(r.return_sum, 0)), 0) as critical
        FROM resource r
        WHERE r.severity = 'CriticalRisk' and r.id in
        (select t.resource_id from cloud_task_item_resource t
        join cloud_task_item t2 on t.task_item_id = t2.id
        join cloud_task t3 on t2.task_id = t3.id
        join message_order_item t4 on t3.id = t4.task_id
        join message_order t5 on t4.message_order_id = t5.id
        where t5.id = #{request.id})) as critical,
        (select IFNULL(sum(IFNULL(r.return_sum, 0)), 0) as high
        FROM resource r
        WHERE r.severity = 'HighRisk' and r.id in
        (select t.resource_id from cloud_task_item_resource t
        join cloud_task_item t2 on t.task_item_id = t2.id
        join cloud_task t3 on t2.task_id = t3.id
        join message_order_item t4 on t3.id = t4.task_id
        join message_order t5 on t4.message_order_id = t5.id
        where t5.id = #{request.id})) as high,
        (select IFNULL(sum(IFNULL(r.return_sum, 0)), 0) as medium
        FROM resource r
        WHERE r.severity = 'MediumRisk' and r.id in
        (select t.resource_id from cloud_task_item_resource t
        join cloud_task_item t2 on t.task_item_id = t2.id
        join cloud_task t3 on t2.task_id = t3.id
        join message_order_item t4 on t3.id = t4.task_id
        join message_order t5 on t4.message_order_id = t5.id
        where t5.id = #{request.id})) as medium,
        (select IFNULL(sum(IFNULL(r.return_sum, 0)), 0) as low
        FROM resource r
        WHERE r.severity = 'LowRisk' and r.id in
        (select t.resource_id from cloud_task_item_resource t
        join cloud_task_item t2 on t.task_item_id = t2.id
        join cloud_task t3 on t2.task_id = t3.id
        join message_order_item t4 on t3.id = t4.task_id
        join message_order t5 on t4.message_order_id = t5.id
        where t5.id = #{request.id})) as low
    </select>

</mapper>
