<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummer.system.mapper.ext.ExtResourceMapper">

    <select id="resultPercentByCloud" resultType="java.lang.String">
        select IFNULL(sum( t.return_sum ), 0)/IFNULL(sum( t.resources_sum ), 1)
        from cloud_task t
        join cloud_account t1 on t.account_id = t1.id
        <where>
            <if test="severity != null and severity != ''">
                AND t.severity = #{severity}
            </if>
            <if test="accountId != null and accountId != ''">
                AND t.account_id = #{accountId}
            </if>
            <if test="taskId != null and taskId != ''">
                AND t.id = #{taskId}
            </if>
        </where>
    </select>

    <select id="sumReturnSum" resultType="Integer">
        select IFNULL(sum( t.return_sum ), 0)
        from history_scan_task t
        <where>
            <if test="id != null and id != ''">
                AND t.scan_id = #{id}
            </if>
        </where>
    </select>

    <select id="sumResourcesSum" resultType="Integer">
        select IFNULL(sum( t.resources_sum ), 0)
        from history_scan_task t
        <where>
            <if test="id != null and id != ''">
                AND t.scan_id = #{id}
            </if>
        </where>
    </select>

    <select id="sumScanScore" resultType="Integer">
        select IFNULL(ROUND(AVG( t.scan_score ), 0), 0)
        from history_scan_task t
        <where>
            <if test="id != null and id != ''">
                AND t.scan_id = #{id}
            </if>
        </where>
    </select>

    <select id="resource" resultType="com.hummer.common.core.domain.ResourceWithBLOBs" parameterType="com.hummer.common.core.domain.CloudTaskItem">
        SELECT t.*
        FROM resource t
        left join cloud_task_item_resource t1 on t.id = t1.resource_id
        left join cloud_task_item t2 on t1.task_item_id = t2.id
        <where>
            <if test="taskId != null and taskId != ''">
                AND t1.task_id = #{taskId}
            </if>
            <if test="id != null and id != ''">
                AND t1.task_item_id = #{id}
            </if>
            <if test="accountId != null and accountId != ''">
                AND t.account_id = #{accountId}
            </if>
            <if test="regionId != null and regionId != ''">
                AND t.region_id = #{regionId}
            </if>
            <if test="ruleId != null and ruleId != ''">
                AND t2.rule_id = #{ruleId}
            </if>
        </where>
        ORDER BY t.create_time desc
        limit 1
    </select>

</mapper>
